.img-width{
    width: 100%;
    height: auto;
}
.explore{
    margin-top: 200px;
}

.explore-title-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h2{
    font-size: 38px;
    color: #ffff;
}

.title p{
    font-size: 18px;
    color: gray;
    max-width: 600px;
}

.button-souper{
    display: flex;
    background-color: #000000;
    border-radius: 12px;
    padding: 16px;
    border: 1px solid gray;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.liner{
    display: flex;
    align-items: flex-end;
    gap: 3px;
}

.liner-1 , .liner-2 , .liner-3{
    width: 24px;
    height: 4px;
    background-color: gray;
}

.liner-1{
    background-color: #e50000;
}

.button-souper{
    width: 199px;
    height: 80px;
}

.button-souper button{
    border: none;
    background-color: #1a1a1a;
    padding: 14px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.explore-movie-box{
    display: flex;
    align-items: center;
    gap: 30px;
}

.movie-box{
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 12px;
    margin-top: 80px;
}

.movie-genre{
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 7px;
}

.owl-prev span{
    display: none;
}

.owl-next span{
    display: none;
}

.owl-prev::before{
    content: "\2190"; 
    border: none;
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: absolute;
    top: -20%;
    right: -2%;
}


.owl-next::before{
    content: "\2192"; 
    border: none;
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: absolute;
    top: -20%;
    left: 81%;
}

.owl-dot span {
    width: 24px !important;
    height: 4px !important;
    background-color: gray !important;
}

.owl-dot.active span{
    background-color: #e50000 !important;
}

.owl-dots{
    position: absolute;
    top: -16%;
    right: 2%;
}

.Choose-the-plan{
    margin-top: 120px;
}

.planer-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title p{
    margin-top: 10px;
    color: gray;
}

.palner-btn{
    background-color: #0f0404;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid gray;
    display: flex;
    gap: 20px;
    width: 224;
    height: 64px;
}

.palner-btn span{
    color: gray;
    background-color: #1f1f1f;
    padding: 12px 20px;
    cursor: pointer;
}

.planer-card{
    display: flex;
    gap: 20px;
}

.card-box{
    color: #fff;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: rgba(18, 18, 18, 0.992) 0px 8px 24px;
    padding: 40px;
}

.card-box p{
    margin-top: 12px;
    color: gray;
}


.price{
    color: #fff;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 40px;
}

.cart-btn{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.free-btn{
    background-color: #141414;
    color: #fff;
    padding: 14px 31px;
    border: none;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.choose-btn{
    background-color: #e50000;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 12px 31px;
}

.free-trail{
    background-image: url(../assets/img/Background\ Images.png);
    height: 344px;
    margin-top: 109px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.title h1{
    color: #fff;
}

.title p{
    color: gray;
}

.free-trail button{
    background-color: #e50000;
    border: none;
    border-radius: 8px;
    padding: 18px 34px;
    color: #fff;
}

footer{
    padding: 80px;
    background-color: #0f0f0f;
    color: #fff;
    margin-top: 120px;
}

footer span{
    color: gray;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cat-home , .cat-movie , .cat-shows , .Support , .Subscription , .connect-with-us{
    display: flex;
    flex-direction: column;
}

.cat-home span{
   margin-top: 10px;
}

.cat-movie span{
   margin-top: 10px;
}

.cat-shows span{
   margin-top: 10px;
}

.Support span{
   margin-top: 10px;
}

.Subscription span{
   margin-top: 10px;
}

.connect-with-us span{
   margin-top: 10px;
}

.margin-top{
    margin-top: 20px;
}

.social-icon{
    display: flex;
    color: #fff;
    font-size: 18px;
    gap:10px;
}

.social-icon a{
    background-color: #1a1a1a;
    padding: 12px 14px;
    border-radius: 4px;
    color: #fff;
}

hr{
    border-color: gray;
    margin-top: 80px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
}

.privicy{
    display: flex;
    gap: 32px;
}
