@media only screen and (max-width: 992px){
    .container{
        padding: 20px;
    }

    .flex-col{
        flex-direction: column;
    }

    .flex-wrap{
        flex-wrap: wrap;
    }

    .d-non{
        display: none;
    }

    .palner-btn{
        margin-top: 20px;
    }

    .d-block{
        display: block;
    }

    .backgraound-header{
        height: 720px;
    }

    .owl-prev::before{
        display: none;
    }

    .owl-next::before{
        display: none;
    }
    
    .owl-dots{
        display: none;
    }

    .explore-title-button{
        text-align: center;
    }

    .title-header{
        text-align: center;
    }

    .device-cards{
        justify-content: center;
    }

    .FAQ-title{
        display: flex;
        flex-wrap: wrap;
    }

    .FAQ-content-fix{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dispay-flex{
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .FAQ-content-title{
        width: 200px;
    }
    
    .mr{
        margin-right: 100px;
    }

    .mt{
        margin-top: 30px;
    }

    .Subscription{
        margin-right: 50px;
    }

    footer{
        padding: 0;
    }

    .info{
        gap: 32px;
    }

    .title{
        text-align: center;
    }

    .title-header-page-2{
        margin-top: -100px;
    }
    
    .slider-subheader .owl-prev span{
        display: none;
    }
    
    .slider-subheader .owl-next span{
        display: none;
    }
    
    .slider-img img{
        object-fit: cover;
    }

    .play-btn{
        width: 310px;
    }

    .tv-section{
        display: none;
    }

    .movie-section{
        display: none;
    }

    .active{
        display: block;
    }

    .border-box{
        margin-top: 50px;
        border: none;
    }

    .genres-title-button{
        margin-top: 0;
    }

    .owl-next{
        display: none !important;
    }

    .owl-prev{
        display: none !important;
    }
}